/* Navbar.css */

nav {
  position: fixed; /* Fixed positioning */
  top: 0; /* Place the navbar at the top of the viewport */
  left: 0;
  width: 100%; /* Full width */
  background-color: #2a2929;
  color: white;
  padding: 10px;
  z-index: 1000; /* Ensure the navbar appears above other content */
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

nav ul li:last-child {
  margin-right: 0; /* Remove margin from the last li element */
}

nav ul li a {
  color: white;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  nav ul li {
    margin-right: 10px; /* Reduce margin for smaller screens */
  }
}
